body {
  position: center;
  background: url("../assets/epicwall.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 0px 0px 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
}

#world_map {
  height: 80%;
  width: 60%;
  border: 4px solid black;
  background: url("http://vignette3.wikia.nocookie.net/pokemon/images/b/b4/Floaroma_Town_DP.png/revision/latest?cb=20110213021448");
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  visibility: visible;
  top: 18%;
  left: 20%;
  z-index: 3;
}

/*#canvas {
  height: 400px;
  width: 600px;
  z-index:1;
  border: 3px solid black;
  position: absolute;
  top:20%;
  left: 25%;
}*/


#menu_bar {
  height: 50px;
  width: 860px;
  border: 5px solid green;
  bottom: 0px;
  display: block;
  position: absolute;
  left: 0;
}

.lists {
  height: 50px;
  width: 200px;
  border: 2px solid red;
  float: left;
  display: inline;
}

#battle_board {
  height:80%;
  width: 60%;
  position: absolute;
  top: 18%;
  left: 20%;
  display:none;
  border: 4px solid black;
  background: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -100px;
  z-index: 2;
}

#enemy_info {
  height: 150px;
  width: 400px;
  position: relative;
  top: 0px;
  left: -150px;
  background: url("../assets/enemyhpbox.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  font-family: 'Inconsolata';
}

#enemy_name_level {
  position: absolute;
  top: 45px;
  left: 70px;
  height: 30px;
  width: 280px;
}

#enemy_health_bar {
  height: 50px;
  width: 250px;
  position: absolute;
  top:70px;
  left:100px;
}

#enemy_health_points {
  height: 10px;
  width: 162px;
  position: absolute;
  top:87px;
  left:173px;
/*  border: 3px solid black;
*/}

#enemy_img {
  float: right;
  right: 10px;
  position: absolute;
  display: inline-block;
  height: 190px;
  width: 190px;
  top: 30px;
  right: 140px;
}

#player_info {
  height: 150px;
  width: 400px;
  position: relative;
  display: inline-block;
  bottom: -100px;
  right: -600px;
  background: url("../assets/playerhpbox.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inconsolata';
  font-size: 18px;
}

#player_name_level {
  position: absolute;
  bottom: -38px;
  left: 55px;
  height: 30px;
  width: 280px;
}

#player_health_bar {
  height: 50px;
  width: 250px;
  position: absolute;
  top:65px;
  left:90px;
}

#player_health_points {
  height: 10px;
  width: 162px;
  position: absolute;
  top:82px;
  right:75px;
/*  border: 3px solid black;
*/}

#player_img {
  float: left;
  display: inline-block;
  height: 130px;
  width: 80px;
  bottom: 190px;
  left: 110px;
  position: absolute;
  opacity: 1;
}

#attack_text_box {
  position: absolute;
  display: block;
  bottom:0;
  width: 860px;
  height: 150px;
  border: 3px solid black;
  background: white;
  margin: 0 auto;
  font-family: 'Inconsolata';
  text-align: center;
  word-spacing: 2px;
}

#menutext {
  font-size: 35px;
  color: white;
  position: absolute;
  top: 20px;
  left: 110px;
}

.submenu {
  position:absolute;
  display:inline-block;
  width: 430px;
  height:75px;
  background: rgba(150,150,150,0.7);
  display: none;
  border:1px solid white;
  letter-spacing: 2px;
  padding:1px white;
}

#fight {
  top:0;
  left:0;
}
#fight:hover {
  background: rgba(80,80,80,0.7);
}

#attack1 {
  position:absolute;
  display:inline-block;
  width: 430px;
  height:75px;
  background: rgba(150,150,150,0.7);
  top:0;
  left:0;
  display: none;
  padding:1px black;
}

#attack2 {
  position:absolute;
  display:inline-block;
  width: 430px;
  height:75px;
  background: rgba(150,150,150,0.7);
  top:0;
  right:0;
  display: none;
  padding:1px black;
}

#attack3 {
  position:absolute;
  display:inline-block;
  width: 430px;
  height:75px;
  background: rgba(150,150,150,0.7);
  bottom:0;
  left:0;
  display: none;
  padding:1px black;
}

#attack4 {
  position:absolute;
  display:inline-block;
  width: 430px;
  height:75px;
  background: rgba(150,150,150,0.7);
  bottom:0;
  right:0;
  display: none;
  padding:1px black;
}

#item {
  bottom:0;
  left:0;
}
#item:hover {
  background: rgba(80,80,80,0.7);
}

#fam {
  top:0;
  right:0;
}
#fam:hover {
  background: rgba(80,80,80,0.7);
}

#switchout {
  width:860px;
  height: 150px;
  background: rgba(150,150,150,0.7);
  display: none;
  bottom: 150px;
}

.avatarlist {
  display: inline-block;
  height: 80px;
  width: 50px;
  padding-right: 10px;
  top: 50px;
  position: relative;
  display: none;
}

#bone_Out {
  bottom:0;
  right:0;
}
#bone_Out:hover {
  background: rgba(80,80,80,0.7);
}
#battle_Text {
  position: absolute;
  display: inline;
  bottom:0;
  width: 840px;
  height: 130px;
  padding: 10px;
  font-size: 25px;
  display: none;
}


