body {
  background: url("../assets/epicwall.png");
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

#battlescreen {
  background: rgba(0,0,0,0.7);
  background-repeat: no-repeat;
  background-position: -30px -40px;
  height: 60%;
  width: 70%;
  top:20%;
  left: 15%;
  position: fixed;
  border: 3px solid black;
  /*display: none;*/
}



.character {
  border: 3px solid black;
  position: relative;
  height: 60%;
  width: 15%;
  top:20%;
  display: inline-block;
}



